// START HERO
.hero-secondary{
    background-image: url("../images/hero_bg_2.jpg.webp");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: 100%;
    height: 90vh;
    min-height: 600px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        min-height: 600px;
        background-color: #00000066;
        position: absolute;
    }
    .container{
        .center-text{
            display: flex;
            align-items: center;
            justify-content: center;
            .hero-words{
                z-index: 9;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 760px;
                margin-top: 100px;
                font-weight: 300;
                .title{
                    text-transform: uppercase;
                    font-size: 64px;
                    font-weight: 300;
                    color: #fff;
                    line-height: 1.5;   
                    text-align: center;
                    margin-bottom: 8px;
                }
                .description{
                    text-align: center;
                    color: #fff;
                    line-height: 1.5;   
                    margin-bottom: 48px;
                    font-size: 16px;
                    a{
                        color: $primary-color;
                        font-size: 16px;
                    }
                    span{
                        margin: 0 8px;
                        color: #fff;
                        font-size: 16px;
                    }
                    
                }
                
            }
        }

    }
}
// END HERO
@media(max-width:576px){
    // hero
    .hero-secondary{
        width: 100%;       
        .container{
            .center-text{
                .hero-words{
                    width: 540px;
                    .title{
                        font-size: 32px;
                    }
                }
            }
        }
    }
}
@media(min-width:576px)and(max-width:768px){
    .hero-secondary{
        width: 100%;       
        .container{
            .center-text{
                .hero-words{
                    width: 540px;
                    .title{
                        font-size: 32px;
                    }
                }
            }
        }
    }
}
@media(min-width:768px)and(max-width:992px){
    .hero-secondary{
        width: 100%;       
        .container{
            .center-text{
                .hero-words{
                    width: 450px;
                    .title{
                        font-size: 32px;
                    }
                }
            }
        }
    }
}
@media(min-width:992px)and(max-width:1200px){
    .hero-secondary{
        width: 100%;       
        .container{
            .center-text{
                .hero-words{
                    width: 610px;
                    .title{
                        font-size: 64px;
                    }
                }
            }
        }
    }
}