// START HEADER
.header{
    padding: 4px 0;
    background-color: #fff;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    .container{
        .navBar{
            display: flex;
            justify-content: space-between;
            .logo{
                display: flex;
                align-items: center;
                a{
                    font-size: 32px;
                }
            }
            .navList{
                margin-left: 70px;
                display: flex;
                gap: 4px;
                .navItem{
                    padding: 10px 5px;
                    .navLink{
                        display: block;
                        padding: 10px 0;
                        @include link;
                        color: #000;
                    }
                }
            }
            .social{
                display: flex;
                align-items: center;
                gap: 32px;
                padding-right: 6px;
                a{
                    display: block;
                    font-size: 16px;
                    transition: all .3s;
                    &:hover{
                        color: #ef6c57;
                    }
                }
            }
            .menu{
                display: none;
                .menu-form{
                    label{
                        i{
                            cursor: pointer;
                            padding: 20px 0;
                            display: inline-block;
                            line-height: 28px;
                            font-size: 20px;
                        }
                    }
                    input{
                        display: none;
                        
                        &:checked~.slide-menu{
                            transform: translateX(0);
                        }    
                    }
                    .slide-menu{
                        background-color: #fff;
                        display: block;
                        position: fixed;
                        top: 0;
                        right: 0;
                        width: 300px;
                        height: 100vh;
                        transform: translateX(100%);
                        padding: 0 20px;
                        transition: all .3s;
                        .xmark{
                            display: flex;
                            justify-content: right;
                            margin-top: 20px;
                            margin-right: 10px;
                            label{
                                i{
                                    font-size: 28px;
                                    color: #4d4d4d;
                                }
                            }
                        }
                        .navList{
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            margin: 0;
                            .navItem{
                                padding: 0;
                                line-height: 34px;
                                .navLink{
                                    display: block;
                                    padding: 10px 20px;
                                    @include link;
                                    color: #212529;
                                    font-size: 20px;
                                }
                            }
                        }
                        .social{
                            display: flex;
                            align-items: center;
                            gap: 0;
                            padding-right: 0;
                            padding-bottom: 80px;
                            margin-top: 30px;
                            a{
                                display: block;
                                font-size: 16px;
                                transition: all .3s;
                                padding: 10px 16px;
                                i{
                                    font-size: 20px;
                                }
                                &:hover{
                                    color: #ef6c57;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:1200px){
    .header{
        padding: 4px 0;
        background-color: #fff;
        top: 0;
        width: 100%;
        z-index: 99;
        .container{
            .navBar{
                .navList{
                    display: none;
                }
                .social{
                    display: none;
                }
                .menu{
                    display: block;
                }
            }
        }
    }
}
