// START HERO
#hero{
    background-image: url("../images/hero_bg_1.jpg.webp");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
        content: "";
        width: 100%;
        height: 100%;
        min-height: 600px;
        background-color: #00000066;
        position: absolute;
    }
    .container{
        z-index: 9;
        display: flex;
        justify-content: center;
        .hero-words{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 760px;
            margin-top: 60px;
            user-select: none;
            .title{
                text-transform: uppercase;
                font-size: 64px;
                font-weight: 300;
                color: #fff;
                line-height: 1.5;   
                text-align: center;
                margin-bottom: 8px;
            }
            .description{
                text-align: center;
                color: rgba(255, 255, 255, 0.5);
                font-size: 19px;
                line-height: 1.5;   
                margin-bottom: 48px;
            }
            .book{
                @include btn;
            }
        }
    }
}
// END HERO

// START EXPERIENCE
#experience{
    padding: 80px 0;
    .container{
        .overlap{
            display: flex;
            gap: 30px;
            margin-top: -150px;
            .overlapItem{
                width: 33.3%;
                position: relative;
                overflow: hidden;
                &::after{
                    @include after;
                }
                img{
                    width: 100%;
                    height: 100%;
                    transition: all .3s ease-in-out;
                }
                &:hover{
                    img{
                        transform: scale(1.06);
                    }
                }
                .title{
                    position: absolute;
                    width: 100%;
                    margin-bottom: 8px;
                    bottom: 10px;
                    text-align: center;
                    font-size: 19px;
                    color: #fff;
                    font-weight: 400;
                    z-index: 9;
                    transition: all .3s;
                }
                &:hover{
                    .title{
                        transform: translateY(-16px);
                    }
                }
            }
        }
    }
}
// END EXPERIENCE

//  START TICKETING
#packages{
    padding: 80px 0;
    .container{
        .packages-items{
            @include packages-items;
        }
    }
}
//  END TICKETING

// START TESTIMONIALS
#testimonials{
    padding: 80px 0;
    background-color: #f8f9fa;
    .container{
        .title{
            text-align: center;
            font-size: 32px;
            color: #000;
            font-weight: 300;
            margin-bottom: 56px;
        }
        .testimonials-container{
                display: flex;
            .left-img{
                width: 525px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .testimonials-words{
                width: 555px;
                padding: 48px;
                margin-left: -100px;
                background-color: #fff;
                align-self: center;
                .description{
                    font-size: 20px;
                    font-weight: 300;
                    line-height: 34px;
                    margin-bottom: 16px;
                }
                .name{
                    font-weight: 300;
                    margin-bottom: 16px;
                    em{
                        line-height: 27px;
                        color: #4d4d4d;
                    }
                    a{
                        @include link;
                    }
                }
            }
        }
    }
}
// END TESTIMONIALS

// START DESTINATIONS
#destinations{
    padding: 80px 0;
    .container{
        .title-box{
            @include title-box;
        }
        .destinations-cards{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
           .card{
            width: 31.6%;
            margin-bottom: 24px;
            .card-link{
                display: block;
                width: 100%;
                height: 100%;
                position: relative;
                overflow: hidden;
                &::after{
                    @include after;
                }
                img{
                    width: 100%;
                    height: 100%;
                    transition: all .3s;
                }
                &:hover{
                    img{
                        transform: scale(1.05);
                    }
                }
                .card-words{
                    position: absolute;
                    width: 100%;
                    margin-bottom: 8px;
                    bottom: 10px;
                    text-align: center;
                    z-index: 10;
                    transition: all .3s;

                    .salary{
                        display: block;
                        text-align: center;
                        color: $primary-color;
                        margin-bottom: 8px;
                    }
                    .name{
                        text-align: center;
                        color: #fff;
                        font-weight: 400;
                    }
                }
                &:hover{
                    .card-words{
                        transform: translateY(-16px);
                    }
                }
            }
           } 
        }
    }
}
// END DESTINATIONS

// START VIDEOSERVICES
#videoServices{
    width: 100%;
    height: 600px;
    background-image: url("../images/hero_bg_2.jpg.webp");
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    &::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    .container{
        color: #000;
    }
}
// END VIDEOSERVICES

// START SERVICES
#services{
    padding: 80px 0;
    .container{
        .title-box{
            @include title-box;
        }
        .packages-items{
            @include packages-items;
        }
    }
}

// END SERVICES