// START EXPERIENCE
.experience{
    padding: 80px 0;
    .container{
        .overlap{
            display: flex;
            margin: -150px -15px 0;
            flex-wrap: wrap;
            .overlapItem{
                width: 33.3%;
                padding: 0 15px;
                .overlapLink{
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    overflow: hidden;
                    &::after{
                        @include after;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        transition: all .3s ease-in-out;
                    }
                    &:hover{
                        img{
                            transform: scale(1.06);
                        }
                    }
                    .title{
                        position: absolute;
                        width: 100%;
                        margin-bottom: 8px;
                        bottom: 10px;
                        text-align: center;
                        font-size: 19px;
                        color: #fff;
                        font-weight: 400;
                        z-index: 9;
                        transition: all .3s;
                    }
                    &:hover{
                        .title{
                            transform: translateY(-16px);
                        }
                    }
                }
            }
        }
    }
}
// END EXPERIENCE


// START VIDEOSERVICES
.videoServices{
    width: 100%;
    height: 600px;
    background-image: url("../images/hero_bg_2.jpg.webp");
    background-size: cover;
    background-position: center center;
    position: relative;
    background-attachment: fixed;
    &::after{
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
    }
    .centered-services{
        position: absolute;
        z-index: 9;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;
        width: 640px;
        .play{
            margin-bottom: 24px;
            width: 90px;
            height: 90px;
            border-radius: 50%;
            border: 2px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .3s all ease-in-out;
            &:hover{
                width: 120px;
                height: 120px;
            }
            i{
                color: #fff;
                font-size: 50px;
                padding-left: 5px;
            }
        }
        .title{
            text-align: center;
            color: #fff;
            font-size: 40px;
            margin-bottom: 48px;
            line-height: 48px;
            font-weight: 300;
            padding: 0 15px;
        }
    }
}
// END VIDEOSERVICES

// 576
@media(max-width:576px){
    // hero
    .hero-primary{
        width: 100%;       
        .container{
            .center-text{
                .hero-words{
                    width: 540px;
                    .title{
                        font-size: 32px;
                    }
                    .description{
                        font-size: 19px;
                    }
                }
            }
        }
    }
    //experience
    .experience{
        .container{
            .overlap{
                .overlapItem{
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
        }
    }
    // packages
    .packages{
        .container{
            .packages-items{
                .packages-item{
                    width: 100%;
                }
            }
        }
    }
    // testimonials
    .testimonials{
        .container{
            .testimonials-container{
                display: flex;
                flex-direction: column;
                .left-img{
                    width: 100%;
                    padding: 0 15px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .testimonials-words{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    //destinations
    .destinations{
        .container{
            .destinations-cards{
                display: flex;
                flex-wrap: wrap;
               .card{
                width: 100%;
                margin-bottom: 24px;
                .card-link{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
               } 
            }
        }
    }
    //video-services
    .videoServices{
        .centered-services{
            width: 90%;
        }
    }
    // services
    .services{
        .container{
            .packages-items{
                .packages-item{
                    width: 100%;
                }
            }
        }
    }
    // vacation
    .vacation{
        .container{
            .vacation-cards{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 40px;
                .card{
                    width: 100%;
                    .vacation-img{
                        margin-bottom: 22px;
                    }
                }
            }
            
        }
    } 
}
// 576
@media(min-width:576px)and(max-width:768px){
    // hero
    .hero-primary{
        width: 100%;       
        .container{
            .center-text{
                .hero-words{
                    width: 540px;
                    .title{
                        font-size: 32px;
                    }
                    .description{
                        font-size: 19px;
                    }
                }
            }
        }
    }
    //experience
    .experience{
        .container{
            .overlap{
                .overlapItem{
                    width: 100%;
                    margin-bottom: 24px;
                }
            }
        }
    }
    // packages
    .packages{
        .container{
            .packages-items{
                .packages-item{
                    width: 100%;
                }
            }
        }
    }
    // testimonials
    .testimonials{
        .container{
            .testimonials-container{
                display: flex;
                flex-direction: column;
                .left-img{
                    width: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .testimonials-words{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    //destinations
    .destinations{
        .container{
            .destinations-cards{
                display: flex;
                flex-wrap: wrap;
               .card{
                width: 100%;
                margin-bottom: 24px;
                .card-link{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
               } 
            }
        }
    }
    //video-services
    .videoServices{
        .centered-services{
            width: 90%;
        }
    }
    // services
    .services{
        .container{
            .packages-items{
                .packages-item{
                    width: 100%;
                }
            }
        }
    }
    // vacation
    .vacation{
        .container{
            .vacation-cards{
                display: flex;
                flex-wrap: wrap;
                margin-bottom: 40px;
                .card{
                    width: 100%;
                    .vacation-img{
                        margin-bottom: 22px;
                    }
                    .vacation-title{
                        margin-bottom: 8px;
                        line-height: 24px;
                    }
                }
            }
            
        }
    }
    // footer
    .footer{
        .container{
            .footer-cols{
                display: flex;
                flex-direction: column;
                gap: 0;
                .col{
                    width: 100%;
                    .navigation-container{
                        display: flex;
                        flex-wrap: wrap;
                        gap: 0;
                        margin-bottom: 48px;
                        .navigation{
                            width: 100%;
                        }
                        
                    }
                }
            }
            
        }
    }
}
// 768
@media(min-width:768px)and(max-width:992px){
    // hero
    .hero-ptimary{
        width: 100%;       
        .container{
            .center-text{
                .hero-words{
                    width: 450px;
                    .title{
                        font-size: 32px;
                    }
                    .description{
                        font-size: 19px;
                    }
                }
            }
        }
    }
    //experience
    .experience{
        .container{
            .overlap{
                .overlapItem{
                    width: 50%;
                    margin-bottom: 24px;
                }
            }
        }
    }
    // packages
    .packages{
        .container{
            .packages-items{
                .packages-item{
                    width: 50%;
                }
            }
        }
    }
    // testimonials
    .testimonials{
        .container{
            .testimonials-container{
                display: flex;
                flex-direction: column;
                .left-img{
                    width: 100%;
                    padding: 0 15px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .testimonials-words{
                    width: 100%;
                    margin-left: 0;
                }
            }
        }
    }
    //destinations
    .destinations{
        .container{
            .destinations-cards{
                display: flex;
                flex-wrap: wrap;
               .card{
                width: 50%;
                margin-bottom: 24px;
                .card-link{
                    display: block;
                    width: 100%;
                    height: 100%;
                }
               } 
            }
        }
    }
    .services{
        .container{
            .packages-items{
                .packages-item{
                    width: 50%;
                }
            }
        }
    }
    
}

// 992
@media(min-width:992px)and(max-width:1200px){
    .hero-primary{
        width: 100%;       
        .container{
            .center-text{
                .hero-words{
                    width: 610px;
                    .title{
                        font-size: 64px;
                    }
                    .description{
                        font-size: 19px;
                    }
                }
            }
        }
    }
}

