@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

*::-moz-selection {
  background-color: #000;
  color: #fff;
}

*::selection {
  background-color: #000;
  color: #fff;
}

.active {
  color: #ef6c57 !important;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}
.header {
  padding: 4px 0;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
}
.header .container .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .container .navBar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .container .navBar .logo a {
  font-size: 32px;
}
.header .container .navBar .navList {
  margin-left: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
}
.header .container .navBar .navList .navItem {
  padding: 10px 5px;
}
.header .container .navBar .navList .navItem .navLink {
  display: block;
  padding: 10px 0;
  color: #ef6c57;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  color: #000;
}
.header .container .navBar .navList .navItem .navLink:hover {
  color: #e43216;
}
.header .container .navBar .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
  padding-right: 6px;
}
.header .container .navBar .social a {
  display: block;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .container .navBar .social a:hover {
  color: #ef6c57;
}
.header .container .navBar .menu {
  display: none;
}
.header .container .navBar .menu .menu-form label i {
  cursor: pointer;
  padding: 20px 0;
  display: inline-block;
  line-height: 28px;
  font-size: 20px;
}
.header .container .navBar .menu .menu-form label i:last-child {
  display: none;
}
.header .container .navBar .menu .menu-form input {
  display: none;
}
.header .container .navBar .menu .menu-form input:checked ~ .slide-menu {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.header .container .navBar .menu .menu-form input:checked + label i:first-child {
  display: none;
}
.header .container .navBar .menu .menu-form input:checked + label i:last-child {
  display: block;
}
.header .container .navBar .menu .menu-form .slide-menu {
  background-color: #fff;
  display: block;
  position: fixed;
  right: 0;
  width: 300px;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  padding: 0 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header .container .navBar .menu .menu-form .slide-menu .navList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
}
.header .container .navBar .menu .menu-form .slide-menu .navList .navItem {
  padding: 0;
}
.header .container .navBar .menu .menu-form .slide-menu .navList .navItem .navLink {
  display: block;
  padding: 10px 20px;
  color: #ef6c57;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
  color: #000;
  font-size: 20px;
}
.header .container .navBar .menu .menu-form .slide-menu .navList .navItem .navLink:hover {
  color: #e43216;
}
.header .container .navBar .menu .menu-form .slide-menu .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
  padding-right: 0;
  padding-bottom: 80px;
  margin-top: 30px;
}
.header .container .navBar .menu .menu-form .slide-menu .social a {
  display: block;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 10px 16px;
}
.header .container .navBar .menu .menu-form .slide-menu .social a i {
  font-size: 20px;
}
.header .container .navBar .menu .menu-form .slide-menu .social a:hover {
  color: #ef6c57;
}

@media (max-width: 1200px) {
  .header {
    padding: 4px 0;
    background-color: #fff;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  .header .container .navBar .navList {
    display: none;
  }
  .header .container .navBar .social {
    display: none;
  }
  .header .container .navBar .menu {
    display: block;
  }
}
.hero-primary {
  background-image: url("../images/hero_bg_1.jpg.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero-primary::after {
  content: "";
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.hero-primary .container .center-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-primary .container .center-text .hero-words {
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 760px;
  margin-top: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.hero-primary .container .center-text .hero-words .title {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.hero-primary .container .center-text .hero-words .description {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 19px;
  line-height: 1.5;
  margin-bottom: 48px;
}
.hero-primary .container .center-text .hero-words .book {
  display: block;
  border: 2px solid transparent;
  padding: 16px 48px;
  background-color: #ef6c57;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.hero-primary .container .center-text .hero-words .book:hover {
  background-color: transparent;
  border: 2px solid #fff;
}

.experience {
  padding: 80px 0;
}
.experience .container .overlap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -150px -15px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.experience .container .overlap .overlapItem {
  width: 33.3%;
  padding: 0 15px;
}
.experience .container .overlap .overlapItem .overlapLink {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.experience .container .overlap .overlapItem .overlapLink::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  top: 0;
  left: 0;
}
.experience .container .overlap .overlapItem .overlapLink img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.experience .container .overlap .overlapItem .overlapLink:hover img {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}
.experience .container .overlap .overlapItem .overlapLink .title {
  position: absolute;
  width: 100%;
  margin-bottom: 8px;
  bottom: 10px;
  text-align: center;
  font-size: 19px;
  color: #fff;
  font-weight: 400;
  z-index: 9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.experience .container .overlap .overlapItem .overlapLink:hover .title {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

.packages {
  padding: 80px 0;
}
.packages .container .packages-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.packages .container .packages-items .packages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3%;
  margin-bottom: 24px;
}
.packages .container .packages-items .packages-item .packages-icon {
  color: #ef6c57;
  font-size: 40px;
  margin-right: 24px;
}
.packages .container .packages-items .packages-item .packages-words .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #4d4d4d;
  font-weight: 400;
}
.packages .container .packages-items .packages-item .packages-words .description {
  margin-bottom: 16px;
  color: #4d4d4d;
  font-weight: 300;
  line-height: 27px;
}
.packages .container .packages-items .packages-item .packages-words .learn-more {
  margin-bottom: 16px;
}
.packages .container .packages-items .packages-item .packages-words .learn-more a {
  color: #ef6c57;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
}
.packages .container .packages-items .packages-item .packages-words .learn-more a:hover {
  color: #e43216;
}

.testimonials {
  padding: 80px 0;
  background-color: #f8f9fa;
}
.testimonials .container .title {
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: 300;
  margin-bottom: 56px;
  line-height: 38px;
}
.testimonials .container .testimonials-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.testimonials .container .testimonials-container .left-img {
  width: 50%;
  padding: 0 15px;
}
.testimonials .container .testimonials-container .left-img img {
  width: 100%;
  height: 100%;
}
.testimonials .container .testimonials-container .testimonials-words {
  margin-top: 50px;
  width: 50%;
  padding: 48px;
  margin-left: -100px;
  background-color: #fff;
  -ms-flex-item-align: center;
      align-self: center;
}
.testimonials .container .testimonials-container .testimonials-words .description {
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  margin-bottom: 16px;
}
.testimonials .container .testimonials-container .testimonials-words .name {
  font-weight: 300;
  margin-bottom: 16px;
}
.testimonials .container .testimonials-container .testimonials-words .name em {
  line-height: 27px;
  color: #4d4d4d;
}
.testimonials .container .testimonials-container .testimonials-words .name a {
  color: #ef6c57;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
}
.testimonials .container .testimonials-container .testimonials-words .name a:hover {
  color: #e43216;
}

.destinations {
  padding: 80px 0;
}
.destinations .container .title-box {
  margin-bottom: 48px;
}
.destinations .container .title-box .title {
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: 300;
  margin-bottom: 8px;
  line-height: 38px;
}
.destinations .container .title-box .next {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5019607843);
  line-height: 27px;
  padding-bottom: 16px;
  text-align: center;
}
.destinations .container .destinations-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}
.destinations .container .destinations-cards .card {
  width: 33.3%;
  margin-bottom: 24px;
  padding: 0 15px;
}
.destinations .container .destinations-cards .card .card-link {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.destinations .container .destinations-cards .card .card-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(18%, transparent), color-stop(99%, rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0, 0, 0, 0.8) 99%, rgba(0, 0, 0, 0.8) 100%);
  top: 0;
  left: 0;
}
.destinations .container .destinations-cards .card .card-link img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.destinations .container .destinations-cards .card .card-link:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.destinations .container .destinations-cards .card .card-link .card-words {
  position: absolute;
  width: 100%;
  margin-bottom: 8px;
  bottom: 10px;
  text-align: center;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
}
.destinations .container .destinations-cards .card .card-link .card-words .deleted-salary {
  color: #fff;
  text-decoration: line-through;
}
.destinations .container .destinations-cards .card .card-link .card-words .salary {
  text-align: center;
  color: #ef6c57;
  margin-bottom: 8px;
}
.destinations .container .destinations-cards .card .card-link .card-words .name {
  text-align: center;
  color: #fff;
  font-weight: 400;
}
.destinations .container .destinations-cards .card .card-link:hover .card-words {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}
.destinations .container .destinations-cards .card-top {
  width: 50%;
}

.videoServices {
  width: 100%;
  height: 600px;
  background-image: url("../images/hero_bg_2.jpg.webp");
  background-size: cover;
  background-position: center center;
  position: relative;
  background-attachment: fixed;
}
.videoServices::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}
.videoServices .centered-services {
  position: absolute;
  z-index: 9;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  width: 640px;
}
.videoServices .centered-services .play {
  margin-bottom: 24px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
.videoServices .centered-services .play:hover {
  width: 120px;
  height: 120px;
}
.videoServices .centered-services .play i {
  color: #fff;
  font-size: 50px;
  padding-left: 5px;
}
.videoServices .centered-services .title {
  text-align: center;
  color: #fff;
  font-size: 40px;
  margin-bottom: 48px;
  line-height: 48px;
  font-weight: 300;
  padding: 0 15px;
}

.services {
  padding: 80px 0;
  background-color: #f8f9fa;
}
.services .container .title-box {
  margin-bottom: 48px;
}
.services .container .title-box .title {
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: 300;
  margin-bottom: 8px;
  line-height: 38px;
}
.services .container .title-box .next {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5019607843);
  line-height: 27px;
  padding-bottom: 16px;
  text-align: center;
}
.services .container .packages-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services .container .packages-items .packages-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.3%;
  margin-bottom: 24px;
}
.services .container .packages-items .packages-item .packages-icon {
  color: #ef6c57;
  font-size: 40px;
  margin-right: 24px;
}
.services .container .packages-items .packages-item .packages-words .title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 8px;
  color: #4d4d4d;
  font-weight: 400;
}
.services .container .packages-items .packages-item .packages-words .description {
  margin-bottom: 16px;
  color: #4d4d4d;
  font-weight: 300;
  line-height: 27px;
}
.services .container .packages-items .packages-item .packages-words .learn-more {
  margin-bottom: 16px;
}
.services .container .packages-items .packages-item .packages-words .learn-more a {
  color: #ef6c57;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
}
.services .container .packages-items .packages-item .packages-words .learn-more a:hover {
  color: #e43216;
}

.vacation {
  padding: 80px 0;
}
.vacation .container .title-box {
  margin-bottom: 48px;
}
.vacation .container .title-box .title {
  text-align: center;
  font-size: 32px;
  color: #000;
  font-weight: 300;
  margin-bottom: 8px;
  line-height: 38px;
}
.vacation .container .title-box .next {
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5019607843);
  line-height: 27px;
  padding-bottom: 16px;
  text-align: center;
}
.vacation .container .vacation-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  margin-bottom: 40px;
}
.vacation .container .vacation-cards .card {
  padding: 0 15px;
  width: 50%;
  margin-bottom: 24px;
}
.vacation .container .vacation-cards .card .vacation-img {
  margin-bottom: 22px;
}
.vacation .container .vacation-cards .card .vacation-img img {
  width: 100%;
  height: 100%;
}
.vacation .container .vacation-cards .card .vacation-title {
  margin-bottom: 8px;
  line-height: 24px;
}
.vacation .container .vacation-cards .card .vacation-title a {
  font-size: 20px;
  color: #ef6c57;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-weight: 400;
}
.vacation .container .vacation-cards .card .vacation-title a:hover {
  color: #e43216;
}
.vacation .container .vacation-cards .card .name {
  color: #b3b3b3;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 24px;
}
.vacation .container .vacation-cards .card .name span {
  margin: 0 8px;
}
.vacation .container .vacation-cards .card .name a {
  color: #ef6c57;
}
.vacation .container .vacation-cards .card .name a:hover {
  color: #e43216;
}
.vacation .container .vacation-cards .card .description {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  color: #4d4d4d;
  margin-bottom: 16px;
}
.vacation .container .vacation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vacation .container .vacation-btn .btn-link {
  display: block;
  border: 2px solid #ef6c57;
  padding: 16px 48px;
  background-color: transparent;
  color: #ef6c57;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.vacation .container .vacation-btn .btn-link:hover {
  background-color: #ef6c57;
  border: 2px solid transparent;
  color: #fff;
}

.want-travel {
  padding: 80px 0;
}
.want-travel .container .travel-title {
  font-size: 32px;
  margin-bottom: 48px;
  font-weight: 400;
  text-align: center;
  line-height: 38px;
}
.want-travel .container .travel-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.want-travel .container .travel-btn .btn-link {
  display: block;
  border: 2px solid transparent;
  padding: 16px 48px;
  background-color: #ef6c57;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.want-travel .container .travel-btn .btn-link:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.want-travel .container .travel-btn .btn-link:hover {
  color: #000;
  border: 2px solid #000;
}

@media (max-width: 576px) {
  .hero-primary {
    width: 100%;
  }
  .hero-primary .container .center-text .hero-words {
    width: 540px;
  }
  .hero-primary .container .center-text .hero-words .title {
    font-size: 32px;
  }
  .hero-primary .container .center-text .hero-words .description {
    font-size: 19px;
  }
  .experience .container .overlap .overlapItem {
    width: 100%;
    margin-bottom: 24px;
  }
  .packages .container .packages-items .packages-item {
    width: 100%;
  }
  .testimonials .container .testimonials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials .container .testimonials-container .left-img {
    width: 100%;
    padding: 0 15px;
  }
  .testimonials .container .testimonials-container .left-img img {
    width: 100%;
    height: 100%;
  }
  .testimonials .container .testimonials-container .testimonials-words {
    width: 100%;
    margin-left: 0;
  }
  .destinations .container .destinations-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .destinations .container .destinations-cards .card {
    width: 100%;
    margin-bottom: 24px;
  }
  .destinations .container .destinations-cards .card .card-link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .videoServices .centered-services {
    width: 90%;
  }
  .services .container .packages-items .packages-item {
    width: 100%;
  }
  .vacation .container .vacation-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .vacation .container .vacation-cards .card {
    width: 100%;
  }
  .vacation .container .vacation-cards .card .vacation-img {
    margin-bottom: 22px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .hero-primary {
    width: 100%;
  }
  .hero-primary .container .center-text .hero-words {
    width: 540px;
  }
  .hero-primary .container .center-text .hero-words .title {
    font-size: 32px;
  }
  .hero-primary .container .center-text .hero-words .description {
    font-size: 19px;
  }
  .experience .container .overlap .overlapItem {
    width: 100%;
    margin-bottom: 24px;
  }
  .packages .container .packages-items .packages-item {
    width: 100%;
  }
  .testimonials .container .testimonials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials .container .testimonials-container .left-img {
    width: 100%;
  }
  .testimonials .container .testimonials-container .left-img img {
    width: 100%;
    height: 100%;
  }
  .testimonials .container .testimonials-container .testimonials-words {
    width: 100%;
    margin-left: 0;
  }
  .destinations .container .destinations-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .destinations .container .destinations-cards .card {
    width: 100%;
    margin-bottom: 24px;
  }
  .destinations .container .destinations-cards .card .card-link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .videoServices .centered-services {
    width: 90%;
  }
  .services .container .packages-items .packages-item {
    width: 100%;
  }
  .vacation .container .vacation-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 40px;
  }
  .vacation .container .vacation-cards .card {
    width: 100%;
  }
  .vacation .container .vacation-cards .card .vacation-img {
    margin-bottom: 22px;
  }
  .vacation .container .vacation-cards .card .vacation-title {
    margin-bottom: 8px;
    line-height: 24px;
  }
  .footer .container .footer-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .footer .container .footer-cols .col {
    width: 100%;
  }
  .footer .container .footer-cols .col .navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    margin-bottom: 48px;
  }
  .footer .container .footer-cols .col .navigation-container .navigation {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero-ptimary {
    width: 100%;
  }
  .hero-ptimary .container .center-text .hero-words {
    width: 450px;
  }
  .hero-ptimary .container .center-text .hero-words .title {
    font-size: 32px;
  }
  .hero-ptimary .container .center-text .hero-words .description {
    font-size: 19px;
  }
  .experience .container .overlap .overlapItem {
    width: 50%;
    margin-bottom: 24px;
  }
  .packages .container .packages-items .packages-item {
    width: 50%;
  }
  .testimonials .container .testimonials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .testimonials .container .testimonials-container .left-img {
    width: 100%;
    padding: 0 15px;
  }
  .testimonials .container .testimonials-container .left-img img {
    width: 100%;
    height: 100%;
  }
  .testimonials .container .testimonials-container .testimonials-words {
    width: 100%;
    margin-left: 0;
  }
  .destinations .container .destinations-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .destinations .container .destinations-cards .card {
    width: 50%;
    margin-bottom: 24px;
  }
  .destinations .container .destinations-cards .card .card-link {
    display: block;
    width: 100%;
    height: 100%;
  }
  .services .container .packages-items .packages-item {
    width: 50%;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hero-primary {
    width: 100%;
  }
  .hero-primary .container .center-text .hero-words {
    width: 610px;
  }
  .hero-primary .container .center-text .hero-words .title {
    font-size: 64px;
  }
  .hero-primary .container .center-text .hero-words .description {
    font-size: 19px;
  }
}
.hero-secondary {
  background-image: url("../images/hero_bg_2.jpg.webp");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  width: 100%;
  height: 90vh;
  min-height: 600px;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.hero-secondary::after {
  content: "";
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
}
.hero-secondary .container .center-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-secondary .container .center-text .hero-words {
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 760px;
  margin-top: 100px;
  font-weight: 300;
}
.hero-secondary .container .center-text .hero-words .title {
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 300;
  color: #fff;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 8px;
}
.hero-secondary .container .center-text .hero-words .description {
  text-align: center;
  color: #fff;
  line-height: 1.5;
  margin-bottom: 48px;
  font-size: 16px;
}
.hero-secondary .container .center-text .hero-words .description a {
  color: #ef6c57;
  font-size: 16px;
}
.hero-secondary .container .center-text .hero-words .description span {
  margin: 0 8px;
  color: #fff;
  font-size: 16px;
}

@media (max-width: 576px) {
  .hero-secondary {
    width: 100%;
  }
  .hero-secondary .container .center-text .hero-words {
    width: 540px;
  }
  .hero-secondary .container .center-text .hero-words .title {
    font-size: 32px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .hero-secondary {
    width: 100%;
  }
  .hero-secondary .container .center-text .hero-words {
    width: 540px;
  }
  .hero-secondary .container .center-text .hero-words .title {
    font-size: 32px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hero-secondary {
    width: 100%;
  }
  .hero-secondary .container .center-text .hero-words {
    width: 450px;
  }
  .hero-secondary .container .center-text .hero-words .title {
    font-size: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hero-secondary {
    width: 100%;
  }
  .hero-secondary .container .center-text .hero-words {
    width: 610px;
  }
  .hero-secondary .container .center-text .hero-words .title {
    font-size: 64px;
  }
}
.contact {
  padding: 80px 0;
  background-color: #f8f9fa;
}
.contact .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.contact .container .row .send-message-container {
  width: 57%;
  padding: 0 15px;
}
.contact .container .row .send-message-container .send-message {
  padding: 48px;
  background-color: #fff;
  width: 100%;
  height: 100%;
}
.contact .container .row .send-message-container .send-message .name-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px;
}
.contact .container .row .send-message-container .send-message .name-container .name {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 16px;
}
.contact .container .row .send-message-container .send-message .name-container .name label {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 16px;
  line-height: 27px;
  font-weight: 300;
}
.contact .container .row .send-message-container .send-message .name-container .name input {
  width: 100%;
  height: 43px;
  border: 1px solid #ced4da;
  padding: 6px 12px;
  outline: none;
}
.contact .container .row .send-message-container .send-message .name-container .name textarea {
  width: 100%;
  height: 182px;
  border: 1px solid #ced4da;
  resize: vertical;
  padding: 6px 12px;
  outline: none;
}
.contact .container .row .send-message-container .send-message .btn {
  display: block;
  border: 2px solid transparent;
  padding: 16px 48px;
  background-color: #ef6c57;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 24px;
  font-size: 16px;
}
.contact .container .row .send-message-container .send-message .btn:hover {
  background-color: transparent;
  border: 2px solid #fff;
}
.contact .container .row .send-message-container .send-message .btn:hover {
  color: #000;
  border: 2px solid #000;
}
.contact .container .row .learn-more-container {
  width: 43%;
  height: 500px;
  padding: 0 15px;
}
.contact .container .row .learn-more-container .learn-more {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 128px 0;
  background-color: #333;
}
.footer .container .footer-cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer .container .footer-cols .col {
  width: 33.3%;
  margin-bottom: 48px;
}
.footer .container .footer-cols .col .title {
  font-size: 20px;
  color: #fff;
  font-weight: 400;
  margin-bottom: 24px;
  line-height: 24px;
}
.footer .container .footer-cols .col .description {
  font-size: 16px;
  color: #737373;
  line-height: 27px;
  font-weight: 300;
}
.footer .container .footer-cols .col .navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.footer .container .footer-cols .col .navigation-container .navigation {
  width: 50%;
}
.footer .container .footer-cols .col .navigation-container .navigation .nav-item {
  margin-bottom: 10px;
  line-height: 27px;
}
.footer .container .footer-cols .col .navigation-container .navigation .nav-item .nav-link {
  font-size: 16px;
  color: #999;
  margin-bottom: 16px;
  font-weight: 300;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .container .footer-cols .col .navigation-container .navigation .nav-item .nav-link:hover {
  color: #fff;
}
.footer .container .footer-cols .email .title {
  margin-bottom: 8px;
}
.footer .container .footer-cols .email .description {
  margin-bottom: 16px;
}
.footer .container .footer-cols .email .enter-email {
  width: 100%;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .container .footer-cols .email .enter-email input {
  width: 100%;
  border: 1px solid #6c757d;
  border-right: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  padding: 6px 12px;
}
.footer .container .footer-cols .email .enter-email input::-webkit-input-placeholder {
  font-size: 16px;
}
.footer .container .footer-cols .email .enter-email input::-moz-placeholder {
  font-size: 16px;
}
.footer .container .footer-cols .email .enter-email input:-ms-input-placeholder {
  font-size: 16px;
}
.footer .container .footer-cols .email .enter-email input::-ms-input-placeholder {
  font-size: 16px;
}
.footer .container .footer-cols .email .enter-email input::placeholder {
  font-size: 16px;
}
.footer .container .footer-cols .email .enter-email button {
  padding: 6px 12px;
  border: none;
  outline: none;
  background-color: #ef6c57;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}
.footer .container .footer-cols .email .enter-email button:hover {
  color: #000;
  border: 2px solid #000;
  background-color: transparent;
}
.footer .container .footer-bottom {
  padding-top: 48px;
  margin-top: 48px;
}
.footer .container .footer-bottom .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 36px;
  margin-right: 16px;
  margin-bottom: 48px;
  line-height: 27px;
}
.footer .container .footer-bottom .social .social-link:hover i {
  color: #fff;
}
.footer .container .footer-bottom .social .social-link i {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #999;
}
.footer .container .footer-bottom .copyright {
  color: #737373;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  margin-bottom: 16px;
}
.footer .container .footer-bottom .copyright a {
  color: #999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.footer .container .footer-bottom .copyright a:hover {
  color: #fff;
}

@media (max-width: 576px) {
  .footer .container .footer-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .footer .container .footer-cols .col {
    width: 100%;
  }
  .footer .container .footer-cols .col .navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    margin-bottom: 48px;
  }
  .footer .container .footer-cols .col .navigation-container .navigation {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .footer .container .footer-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .footer .container .footer-cols .col {
    width: 100%;
  }
  .footer .container .footer-cols .col .navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    margin-bottom: 48px;
  }
  .footer .container .footer-cols .col .navigation-container .navigation {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer .container .footer-cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  .footer .container .footer-cols .col {
    width: 100%;
  }
  .footer .container .footer-cols .col .navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
    margin-bottom: 48px;
  }
  .footer .container .footer-cols .col .navigation-container .navigation {
    width: 50%;
  }
  .footer .container .footer-cols .col .navigation-container .navigation .nav-item {
    margin-bottom: 10px;
    line-height: 27px;
  }
}/*# sourceMappingURL=main.css.map */